      #LinkList001 {overflow: unset!important;}

      /* cookie-choices */
      .cookie-choices-info{top:auto!important;bottom:70px!important;right:auto!important;left:20px!important;width:260px!important;padding:15px!important;background:var(--MinBgColor)!important;border:1px solid var(--Borderes3)!important;box-shadow:0 6px 18px 0 rgb(9 32 76 / 4%)!important;border-radius:10px!important;direction:ltr!important}
      .cookie-choices-info .cookie-choices-text{text-align: justify!important;color:var(--txtColor)!important;font-size:13px!important;margin:0!important;display:block!important;margin-bottom:15px!important}
      .cookie-choices-info .cookie-choices-buttons a{width:50%!important;flex-shrink:0!important;color:var(--whiteColor)!important;background:var(--minColor)!important;border-radius:30px!important;padding:7px 0!important;display:block!important;font-size:13px!important;font-family:sans-serif!important;text-transform:none!important}
      .cookie-choices-info .cookie-choices-buttons{margin:0!important;display:flex!important;align-items:center!important;justify-content:center!important}
      .cookie-choices-info .cookie-choices-button:first-of-type{margin-left:0!important}

      /* post add&#39;s */
      .post-body hr:before{content:&#39;\2027 \2027 \2027&#39;;display:block;text-align:center;font-size:24px;letter-spacing:0.6em;text-indent:0.6em;opacity:.8;clear:both}
      .post-body hr{margin:2em 0;border:0}
      /* textarea code &#39;s */
      /*<![CDATA[*/ 
textarea.code{min-height:200px;resize:vertical;width:100%;border-radius:3px;padding:0 15px;font-family:sans-serif;background:#f6f6f6;color:#2f3337;font-size:13px;line-height:1.8em;overflow:auto;border:1px solid var(--Borderes);margin:0;direction:ltr}
.areacode{position:relative;display:flex;overflow:hidden;clear:both;width:100%;padding:40px 0 0;background:#f6f6f6;margin:15px 0}
.areacode:before{content:'</>';position:absolute;left:0;top:0;background:inherit;color:var(--txtColor);font-size:12px;font-family:monospace;padding:5px 15px;z-index:2;line-height:30px}
.areacode:after{content:'أضغط لنسخ كل المحتويات';position:absolute;right:0;top:0;color:var(--txtColor);font-size:12px;font-family:sans-serif;padding:5px 15px;z-index:2;line-height:30px}
.dark-mode .areacode{background: var(--thrColor);}
.dark-mode .areacode textarea.code{background: var(--thrColor);}
      /*]]>*/
      /* button&#39;s */
      .post-body .button svg{vertical-align:middle;display:inline-block;width:18px;height:18px;fill:var(--whiteColor);stroke-width:1.5;margin-left:10px}
      .post-body .button.ln svg{fill:var(--txtColor)}
      .post-body .button{vertical-align: middle;text-align:center;top:0;transition:all .1s;position:relative;display:inline-block;margin:10px 0;padding:0 20px;border:0;border-radius:3px;line-height:35px;color:var(--whiteColor)!important;background:var(--minColor);font-size:14px;height:35px;white-space:nowrap;overflow:hidden;min-width:120px;opacity:.9}
      .post-body .button.ln{color:var(--txtColor)!important;background:transparent;border:1px solid  rgb(162 162 162 / 38%)}
      .post-body .button:hover {opacity: 1;}
      /* note&#39;s */
      .post-body .note{position:relative;padding:16px 55px 16px 20px;background:#e1f5fe;color:#3c4043;font-size:1rem;line-height:1.8em;border-radius:5px;overflow:hidden}
      .post-body .note::before{content:&#39;&#39;;width:60px;height:60px;background:#81b4dc;display:block;border-radius:8px;position:absolute;top:-10px;right:-10px;opacity:.1}
      .post-body .note::after{content:&#39;\2605&#39;;position:absolute;right:16px;top:11px;font-size:25px;min-width:15px;text-align:center}
      .post-body .note.wr:after,.post-body .note.aler:after {right: 17px;content: &#39;\0021&#39;;}
      .post-body .note.secs:after {content: &#39;\2714&#39;;font-size: 20px;}
      .post-body .note.wr{background:#ffdfdf;color:#48525c}
      .post-body .note.wr::before{background:#e65151}
      .post-body .note.aler {background: #fef5e7;}
      .post-body .note.aler:before {background: #3c3609;}
      .post-body .note.secs:before {background: #0d8540;}
      .post-body .note.secs {background: #e9f7ef;}
      /* tapel */
      .post-body  .table{display:block;overflow-y:hidden;overflow-x:auto;scroll-behavior:smooth}
      .post-body  table{margin:0 auto;font-size:14px}
      .post-body table{border-spacing:0}
      .post-body  table:not(.tr-caption-container){min-width:90%;border:1px solid  rgb(162 162 162 / 38%);border-radius:3px;overflow:hidden}
      .post-body  table th{padding:16px;text-align:inherit;border-bottom:1px solid  rgb(162 162 162 / 38%)}
      .post-body  table:not(.tr-caption-container) tr:nth-child(2n+1) td{background:rgba(0,0,0,.01)}
      .post-body  table:not(.tr-caption-container) tr:not(:last-child) td{border-bottom:1px solid  rgb(162 162 162 / 38%)}
      .post-body  table:not(.tr-caption-container) td{padding:16px}
      @media screen and (max-width:640px){.post-body .table{text-align: center;position:relative;width:calc(100% + 40px);left:-20px;right:-20px;padding:0 20px;display:flex}}

      @media print {
      div#shreeta5bar,.shBr.fixL,header,footer,aside,div#mobile-menu,div#backTop,.Dmode,.commentsection,.RelatedPosts.post-frome-tag,.author-posts,.pSh,.post-tags,.PostByCatRandom,.foqTitle,.post-meta,div#tocDiv,div#shreeta5bar,iframe,ins{display:none!important}.r-r{width:100%}body{background:#fff}.post .post-body,.post .blog-posts{padding:0!important;border:0!important;border-radius:0}.bobxed{padding:20px 0!important;margin-bottom:20px!important;}
      }
      <b:if cond='data:skin.vars.darckmodecolor == &quot;2px&quot;'>:root body.dark-mode{--BodyBG:#1e1e1e;--minColor:#1e1e1e;--minColorIc:#fff;--secColor:#1e1e1e;--thrColor:#2d2d30;--whiteColor:#ffffff;--hoverColor:#4e9f3d;--MinBgColor:#2d2d30;--txtColor:#ffffff;--TitColor:#ffffff;--SanColor:#eee;--Borderes:#404040;--Borderes2:#1e1e1e;--Borderes3:#404040;--PostTxtColor:#eee;--PostTitleColor:#ffffff;--PostLinkColor:#4e9f3d;--Hbg:#2d2d30;--HColor:#ffffff;--HtitleColor:#ffffff;--HbgIcon:#1e1e1e;--HCoIcon:#fff;--Cpc:#eee;--Cic:#fff;--Hok:#4e9f3d;--Sco:#4e9f3d;}</b:if>
      <b:if cond='data:skin.vars.disaplelastposts == &quot;2px&quot;'>.home.lapel #Tempnec {display: none !important;}.mopspeed.home.lapel #Tempnec{display:block!important}</b:if>
      <b:if cond='data:skin.vars.RemoveAuthor == &quot;2px&quot;'>.post-meta .authorPhoto, .post-meta .authorname, .author-posts{display: none !important;}</b:if>
      <b:if cond='data:skin.vars.RemoveAdiseHome == &quot;2px&quot;'><b:if cond='data:view.isMultipleItems'>.r-r {float: none;width: 100%;}aside{display: none!important;}</b:if></b:if>
      <b:if cond='data:skin.vars.RemoveAdisePost == &quot;2px&quot;'><b:if cond='data:view.isPost'>.r-r {float: none;width: 100%;}aside{display: none!important;}</b:if></b:if>
      <b:if cond='data:skin.vars.RemoveAdisePage == &quot;2px&quot;'><b:if cond='data:view.isPage'>.r-r {float: none;width: 100%;}aside{display: none!important;}</b:if></b:if>
      <b:if cond='data:skin.vars.StopCopying == &quot;2px&quot;'>body *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}blockquote,blockquote *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}</b:if>
      <b:if cond='data:skin.vars.CoverImg == &quot;1px&quot;'>.thumb img,img.post-thumbnail,.post-random a.reimage img, img.post-thumbnail {object-fit: initial;}</b:if>

  /* UbdateCSS */
html {
  scroll-behavior: smooth;
}
html[mode=&quot;dark&quot;] {
  color-scheme: dark;
}
.hide {
  display: none!important;
}
.blog-admin {
  display: none;
}
#PostA3lan2 {
  display: none;
}
.Noimger:before {
  content: &quot;No Image&quot;!important;
  font-size: 21px;
  font-family: inherit!important;
}
.Noimger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #eee;
  color: #08102b;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: var(--ImgRadius);
}
.posts-from:before {
  border-top-color: var(--Cic);
  border-right-color: var(--Cic);
  content: &quot;&quot;;
  position: absolute;
}
.spiner-icon {
  border-top-color: #989b9f;
  border-right-color: #989b9f;
  width: 18px!important;
  height: 18px!important;
  border-width: 2px!important;
  margin-left: 15px;
}
.posts-from:before,
.spiner-icon {
  width: 30px;
  height: 30px;
  border-width: 4px;
  border-style: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 100%;
  animation: spin .5s infinite linear;
  transform: rotate(0deg);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.commentsShow .cshow {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  transition: all .3s linear;
  opacity: .6;
  font-size: 13px;
  padding: 6px 15px;
  margin-left: 5px;
  color: #fff;
}
.commentsShow .cshow:hover,
.commentsShow .cshow.active {
  opacity: 1;
}
.commentsShow .cshow:last-of-type {
  margin-left: 0;
}
.toTopB {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 27.5px;
  bottom: 27.5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  transform: scale(0);
  transition: opacity 0.3s, visibility 0s 0.3s, transform 0.3s;
}
.toTopB.vsbl {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s, visibility 0s, transform 0.3s;
}
.toTopB svg {
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  stroke-width: 1.5;
  cursor: pointer;
}
.toTopB svg .b {
  fill: var(--MinBgColor);
  stroke: var(--Borderes3);
  opacity: .9;
}
.toTopB svg .c {
  fill: none;
  stroke: var(--Sco);
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
}
#lamiabutton,
.Dmode {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9;
  background: var(--MinBgColor);
  opacity: .9;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  right: 22px;
  transition: opacity 0.3s, right 0.3s;
  bottom: 20px;
  cursor: pointer;
  box-shadow: 0 0 15px rgb(0 0 0 / 8%);
}
.Dmode svg,
#lamiabutton svg {
  width: 23px;
  height: 23px;
}
.Dmode svg {
  fill: var(--minColorIc);
}
.hidden,
#mobile-menu {
  display: none;
}
svg.line,
svg .line {
  width: 20px;
  height: 20px;
  fill: none!important;
  stroke: var(--minColorIc);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.svg.line.linedd {
  fill: var(--minColorIc)!important;
  stroke: none;
}
.Circalewhy label svg {
  width: 22px;
  height: 22px;
}
g.d2 {
  display: none;
}
/* New Search */
.searchformbox {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  transition: opacity 0.3s, visibility 0s, transform 0.3s;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}
#NavC:checked ~ .searchformbox {
  opacity: 1;
  visibility: visible;
}
.fxbox {
  width: 100%;
  max-width: 680px;
  max-height: calc(100% - 60px);
  border-radius: 12px;
  transition: inherit;
  z-index: 3;
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 5%);
}
.searchC {
  cursor: pointer;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--Borderes);
  justify-content: flex-end;
  position: relative;
  flex-shrink: 0;
  min-width: 40px;
}
#BlogSearch2 input[type=search]::-ms-clear,
#BlogSearch2 input[type=search]::-ms-reveal {
  display: none;
  appearance: none;
  width: 0;
  height: 0;
}
#BlogSearch2 input[type=search]::-webkit-search-decoration,
#BlogSearch2 input[type=search]::-webkit-search-cancel-button,
.BlogSearch input[type=search]::-webkit-search-results-button,
.BlogSearch input[type=search]::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}
.dark-mode #BlogSearch2 input::placeholder {
  color: #ddd;
}

